@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Sans+Myanmar:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans Myanmar", ui-sans-serif, system-ui, sans-serif;
  --color-brand-bg: #FFF8F0;
  --color-brand-border: #FFD28E;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-bg);
}
